/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-10-28, 21:06:54
    Author     : ALAN
*/
body, div {
    background: linear-gradient(to bottom right, #8df2be , white);
}

body {
    text-align: center;
}

strong {
    color: blue;
}